.top-row{
  padding: 1em;
}
.mat-form-field{
  width: 100%;
}
.image-container{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image-container img{
  width: 200px;
}
